
<%= form_tag charges_path, id: 'payment-form' do %>
  <article>
    <%= hidden_field_tag :charity_id, @charity.id %>
    <div class="form-group">
      <%= label_tag :amount_pay, "Donation Amount" %>
      <%= number_field_tag :amount_pay, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil, class: "form-control", data: {stripe: "number" } %>
    </div>
    <div class="form-group">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil, class: "form-control", data: {stripe: "cvc" } %>
    </div>
    <div class="form-group">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", data: {stripe: "exp-month"} } %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", data: {stripe: "exp-year"}} %>
    </div>
  </article>

  <button type="submit" id="customButton" class="btn btn-success">Donate!</button>
<% end %>
